img.img-origin {
  max-height: 310px;
  width: 355px;
}
.like {
  color: #fff;
  position: absolute;
  top: 2%;
  left: 60%;
}
.right-container {
  margin-left: -90px;
}
.buy-area {
  padding-right: 12px;
}
.sales-end-line {
  border-bottom: 1px solid;
}
.price-buy {
  display: flex;
  justify-content: space-between;
}
a.btn.btn-sm {
  background: transparent
    linear-gradient(
      129deg,
      #ab782b 0%,
      #774d4d 6%,
      #b98935 8%,
      #dfb651 13%,
      #fad564 18%,
      #f6f2a6 40%,
      #e9dd91 43%,
      #d6be72 50%,
      #c6a458 56%,
      #ba9043 63%,
      #b18235 72%,
      #ac7a2d 80%,
      #986b26 92%,
      #956824 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 9px;
  font-size: 15px;
  cursor: default;
}
a.make-offer {
  text-decoration: none;
  border: 1px solid #fec200;
  padding: 9px;
  font-size: 15px;
  border-radius: 10px;
  cursor: default;
  color: #fec200;
  transform: 0.5s;
  margin-left: 15px;
}
a.make-offer:hover {
  border: 1px solid #fec200;
  color: #fec200;
  background-color: #4f422e;
}
.sales-end {
  border: 1px solid;
  background-color: black;
  margin-top: 20px;
}
.current {
  padding-bottom: 20px;
}
span.da {
  color: #807b7b;
}
span.da1 {
  color: #fec200;
}
.detail-box {
  border: 1px solid;
  border-radius: 15px;
  background-color: black;
  width: 80%;
  margin-top: 18px;
}
.detail-area {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
div#accordionFlushExample {
  margin-top: 18px;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  background-color: black !important;
  color: white !important;
  text-align: left;

  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
@media screen and (max-width: 912px) {
  .right-container {
    margin-left: 0px;
    margin-top: 30px;
  }
  img.img-origin {
    max-height: 320px;
    width: 320px;
    display: block;
    margin: auto;
  }
  .detail-box {
    border: 1px solid;
    border-radius: 15px;
    background-color: black;
    width: 80%;
    margin: 15px auto;
  }
}

@media screen and (max-width: 280px) {
  img.img-origin {
    max-height: 260px;
    width: 240px;
    display: block;
    margin: auto;
  }
  .buy-area {
    padding-left: 5px !important;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  a.make-offer {
    text-decoration: none;
    border: 1px solid #fec200;
    padding: 9px;
    font-size: 15px;
    border-radius: 10px;
    cursor: default;
    color: #fec200;
    margin-left: 6px !important;
  }
  .detail-box {
    border: 1px solid;
    border-radius: 15px;
    background-color: black;
    width: 100% !important;
  }
}

@media screen and (max-width: 540px) {
  .price-buy {
    display: grid;
  }
  .buy-area {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .detail-box {
    border: 1px solid;
    border-radius: 15px;
    background-color: black;
    width: 100%;
    margin: 15px auto;
  }
}
