.img-card {
  position: relative;
}
img.card-img {
  max-height: 320px;
  width: 340px;
}
.originimg {
  margin-top: 100px;
}
.origin-details {
  border: 1px solid white;
  border-radius: 20px;
  width: 67%;
  margin-top: 20px;
}
.details {
  padding: 10px 14px 20px;
}
.detail-content {
  padding: 10px 50px 20px;
}
.content-area {
  margin-top: 100px;
  margin-left: -200px;
}
.origin-icons {
  color: grey;
  border: 1px solid;
  width: fit-content;
  border-radius: 7px;
  padding: 2px 20px;
  margin-left: 200px;
}
svg.refresh-icon {
  margin-left: -12px;
}

svg.ellips-icon {
  margin-right: -12px;
}

@media screen and (max-width: 1280px) {
  .content-area {
    margin-top: 100px;
    margin-left: -130px;
  }
  .origin-icons {
    color: grey;
    border: 1px solid;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 7px;
    padding: 2px 20px;
    margin-left: 120px;
  }
  .origin-details {
    border: 1px solid white;
    border-radius: 20px;
    width: 77%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .content-area {
    margin-top: 100px;
    margin-left: -66px;
  }
  .origin-icons {
    color: grey;
    border: 1px solid;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 7px;
    padding: 2px 20px;
    margin-left: 70px;
  }
  .origin-details {
    border: 1px solid white;
    border-radius: 20px;
    width: 95%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 912px) {
  .content-area {
    margin-top: 70px;
    margin-left: 0px;
  }
  .origin-icons {
    color: grey;
    border: 1px solid;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 7px;
    padding: 2px 20px;
    margin-left: 0px;
    margin-top: 12px;
  }
  .detail-content {
    padding: 10px 10px 20px;
  }
  .origin-details {
    border: 1px solid white;
    border-radius: 20px;
    width: 62%;
    margin-top: 20px;
    margin-left: 90px;
  }
  img.card-img {
    max-height: 320px;
    width: 340px;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 280px) {
  img.card-img {
    max-height: 320px;
    width: 254px;
    display: block;
    margin: auto;
  }
  .origin-details {
    border: 1px solid white;
    border-radius: 20px;
    width: 88%;
    margin-top: 20px;
    margin-left: 9px;
  }
}
