img.trending {
  margin-left: -20px;
  width: 75%;
}
.bqyzQp {
  position: relative;
  margin-left: -180px !important;
}
.trending {
  margin-bottom: 30px;
}

.kVtMtA {
  position: absolute;
  top: calc(52% - 17.5px) !important;
  height: 50px !important;
  width: 50px !important;
  background: #fff;
  background: transparent
    linear-gradient(
      180deg,
      #ab782b 0%,
      #774d4d 1%,
      #b98935 5%,
      #dfb651 13%,
      #fad564 18%,
      #f6f2a6 40%,
      #e9dd91 43%,
      #d6be72 50%,
      #c6a458 56%,
      #ba9043 63%,
      #b18235 72%,
      #ac7a2d 82%,
      #ab782b 99%,
      #ab782b 100%
    )
    0% 0% no-repeat padding-box !important;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #0009;
  z-index: 10;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.7 !important;
  transition: opacity 0.25s;
  left: 92% !important;
  right: initial;
}
img.trendingimage:hover {
  box-shadow: 0px 0px 10px 6px #513d09;
}

.bhRnqO {
  position: absolute;
  top: calc(41% - 17.5px) !important;
  height: 50px !important;
  width: 50px !important;
  background: #fff;
  background: transparent
    linear-gradient(
      180deg,
      #ab782b 0%,
      #774d4d 1%,
      #b98935 5%,
      #dfb651 13%,
      #fad564 18%,
      #f6f2a6 40%,
      #e9dd91 43%,
      #d6be72 50%,
      #c6a458 56%,
      #ba9043 63%,
      #b18235 72%,
      #ac7a2d 82%,
      #ab782b 99%,
      #ab782b 100%
    )
    0% 0% no-repeat padding-box !important;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #0009;
  z-index: 10;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.7 !important;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  left: initial;
  right: 5px;
}

@media screen and (max-width: 912px) {
  img.trending {
    width: 75%;
    display: block;
    margin: auto;
  }
  .bqyzQp {
    position: relative;
    margin-top: 20px !important;
    margin-left: 0px !important;
  }
  .trending {
    margin-bottom: 30px;
    text-align: center;
  }
  .kVtMtA {
    position: absolute;
    top: calc(50% - 17.5px) !important;
    height: 50px !important;
    width: 50px !important;
    background: #fff;
    background: transparent
      linear-gradient(
        180deg,
        #ab782b 0%,
        #774d4d 1%,
        #b98935 5%,
        #dfb651 13%,
        #fad564 18%,
        #f6f2a6 40%,
        #e9dd91 43%,
        #d6be72 50%,
        #c6a458 56%,
        #ba9043 63%,
        #b18235 72%,
        #ac7a2d 82%,
        #ab782b 99%,
        #ab782b 100%
      )
      0% 0% no-repeat padding-box !important;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #0009;
    z-index: 10;
    cursor: pointer;
    font-size: 10px;
    opacity: 0.7 !important;
    transition: opacity 0.25s;
    left: 94% !important;
    right: initial;
  }
}
