@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.globalcontainer {
  background: transparent
    linear-gradient(
      180deg,
      #170c10 0%,
      #180d11 20%,
      #271e08 37%,
      #251b06 44%,
      #000000 56%,
      #000000 69%,
      #2a201c 90%,
      #2d2300 100%
    )
    0% 0% no-repeat padding-box;
}
section {
  max-width: 1440px;
  margin: auto;
}

/* NAVBAR */

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #ffff !important;
}
.navbar-logo {
  width: 75%;
}
img.nav-logo {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-brand {
  color: #fff !important;
}
.container-fluid {
  margin-top: 20px;
}
form.d-flex {
  width: 100%;
  margin-left: -60px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 7px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  background-color: transparent !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 25px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.icons.d-flex {
  align-items: center;
  margin-right: 150px;
  margin-top: -30px;
}

/* MAIN */
.heading {
  margin: 60px 0px;
  width: 100%;
}

p {
  color: #807b7d;
}
img.nft-img {
  width: 100%;
  margin-left: 100px;
  margin-top: -35px;
}
a.btn.btn-lg {
  background: transparent
    linear-gradient(
      129deg,
      #ab782b 0%,
      #774d4d 6%,
      #b98935 8%,
      #dfb651 13%,
      #fad564 18%,
      #f6f2a6 40%,
      #e9dd91 43%,
      #d6be72 50%,
      #c6a458 56%,
      #ba9043 63%,
      #b18235 72%,
      #ac7a2d 80%,
      #986b26 92%,
      #956824 100%
    )
    0% 0% no-repeat padding-box;
  width: 140px;
  border-radius: 25px;
  cursor: default;
}
a.btn.btn-lg-outline.mx-3 {
  border: 1px solid #ab782b;
  width: 140px;
  border-radius: 25px;
  padding: 10px;
  transition: 0.5s;
  color: #ab782b;
  cursor: default;
}
a.btn.btn-lg-outline.mx-3:hover {
  background-color: #4f422e;
}
.span-tag {
  margin-top: 12px;
  margin-left: 10px;
}
span.learn {
  color: #807b7d;
  margin-left: 5px;
}
span.learn:hover {
  color: #969191;
  cursor: default;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 5 !important;
}
/* COLLECTIONS */
img.img-collection {
  border: 3px solid;
  border-radius: 50%;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  position: relative !important;
}
img.img-collection {
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  left: 39%;
  top: -38%;
  width: 20%;
}
.collection-heading {
  margin-left: 110px;
  margin-bottom: 30px;
}
img.card-img-top {
  width: 90%;
  display: block;
  margin: 12px auto;
}
.card {
  width: 16rem !important;
  border-radius: 25px !important;
  border: 0.2px solid rgb(255, 255, 255) !important;
  background: 0% 0% no-repeat padding-box padding-box rgb(43, 34, 3) !important;
}

.button {
  text-align: center;
  text-decoration: none;
  margin: 100px auto;
  border: 1px solid #e6d98d;
  border-radius: 25px;
  padding: 8px;
  width: 912px;
}
a.exlpore.btn {
  color: #ffd73d;
  max-width: 912px;
}
h2.text-light {
  max-width: 1100px;
  margin: 50px auto;
}

.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 36%;
  left: 90.2%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  border: none;
  outline: none;
}
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 55%;
  left: 90.2%;
  width: 20px;
  padding: 0;
  transform: translate(0, -50%);
  border-radius: 25px;
  outline: none;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 42px;
  line-height: 1;
  opacity: 2;
  color: #c39138;
}
a.explore {
  text-decoration: none;
  color: #ffd73d;
}
a.explore:hover {
  color: #ffd73d;
}
.explore-content {
  border: 1px solid #e6d98d;
  margin: auto;
  text-align: center;
  max-width: 769px;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 15px;
}

/* RESOURCES */
.resource {
  border: 2px solid;
  width: 330px;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-left: 180px;
  margin-top: 50px;
}
img.resource-img {
  display: block;
  margin: auto;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.rc {
  border-top: 2px solid;
  padding: 20px 0px 120px;
  text-align: center;
  font-size: 16px;
  background: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

a.faq-link {
  text-decoration: none;
  color: #ffd73d;
}
a.faq-link:hover {
  color: #ffd73d;
}
.faq {
  text-align: center;
  border: 1px solid #e6d98d;
  width: 412px;
  padding: 15px;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 50px;
}
.faq:hover {
  background: #6f550038;
  cursor: default;
}
/* FOOTER */
.items {
  color: #cccccc;
  font-weight: 100;
}
a.link {
  font-size: 28px;
  margin-left: 14px;
  color: #fff;
}
a.links {
  margin-left: 20px;
  font-size: 28px;
  color: #fff;
}
.social-links {
  width: 80%;
}

@media screen and (max-width: 820px) {
  .card {
    width: 15rem !important;
  }
}

@media screen and (max-width: 912px) {
  img.nft-img {
    display: block;
    margin: auto;
  }
  form.d-flex {
    width: 100%;
    margin-left: 0px;
  }
  h2.text-light {
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
  }
  .resource {
    border: 2px solid;
    width: 330px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin: 30px auto;
    display: block;
  }
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: 90%;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    border: none;
    outline: none;
  }
  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 55%;
    left: 90%;
    width: 20px;
    padding: 0;
    transform: translate(0, -50%);
    border-radius: 25px;
    outline: none;
    z-index: 1;
  }
}
@media screen and (max-width: 1280px) {
  .resource {
    border: 2px solid;
    width: 304px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 30px !important;
    line-height: 1;
    color: #ab782b !important;
  }
  .resource {
    border: 2px solid;
    width: 235px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 540px) {
  .card {
    display: block;
    margin: auto;
  }
  .faq {
    text-align: center;
    border: 1px solid #e6d98d;
    width: 393px;
    padding: 15px;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  .resource {
    border: 2px solid;
    width: 300px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: 80%;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    border: none;
    outline: none;
  }
  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 55%;
    left: 80%;
    width: 20px;
    padding: 0;
    transform: translate(0, -50%);
    border-radius: 25px;
    outline: none;
    z-index: 1;
  }
}

@media screen and (max-width: 280px) {
  .faq {
    text-align: center;
    border: 1px solid #e6d98d;
    width: 250px !important;
    padding: 15px;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  .resource {
    border: 2px solid;
    width: 250px !important;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: 90%;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    border: none;
    outline: none;
  }
  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 55%;
    left: 90%;
    width: 20px;
    padding: 0;
    transform: translate(0, -50%);
    border-radius: 25px;
    outline: none;
    z-index: 1;
  }
}

@media screen and (max-width: 412px) {
  .faq {
    text-align: center;
    border: 1px solid #e6d98d;
    width: 340px;
    padding: 15px;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 50px;
  }
}
